wandb/
venv/
.idea/
output/
.vscode/
.history/
__pycache__/
tmp/
minecraft/sprites/
slurm-*
/input/umap_images/baselines
/input/umap_images/old_baselines
/input/umap_images/unused
slurm_logs
main.sh
nobackup
main_cpu.sh
/minecraft/block_embedding_dataset.sh
lightning_logs