wandb/
venv/
.idea/
output/wandb

.vscode/
.history/
__pycache__/
tmp/
minecraft/sprites/
slurm-*
/input/umap_images/baselines
/input/umap_images/old_baselines
/input/umap_images/unused
slurm_logs
main.sh
nobackup
main_cpu.sh
/minecraft/block_embedding_dataset.sh
lightning_logs
minecraft/block2vec/textures
minecraft/mineways
dropbox
*.slurm.log
/input/minecraft/bay_structure
/input/minecraft/desert
/input/minecraft/jungle
/input/minecraft/plains
/input/minecraft/ruins
/input/minecraft/simple_beach
/input/minecraft/snow_forest
/input/minecraft/swamp
/input/minecraft/vanilla_mineshaft
/input/minecraft/vanilla_village
/output/ablation/*/*
!/output/ablation/*/runs.txt